{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="Catwalk">
                <h1><span>Dev Challenge 2016</span> </h1>
                    <h2>Catwalk PHP Conversion Project</h2>
            </div>

            <div id="about">
                <p>
                    <h3>Catwalk was originally designed in C# for CCTV Maintenance</h3>
            </div>

            <div id="description">
                <h4>
                    It's main goal was to log, track and manage faults of CCTV cameras on site. However, it was
                    designed in C# and it had its limitations. It used SQLCe and could only run on Windows systems for
                    example so the aim is to convert it to PHP and have it communicate with a MySQL database.
                </h4>
                <a href="http://localhost:8000/login" class="admin">Administration Panel</a>
                <a href="http://localhost:8000/newFault" class="logFault">Log CCTV Fault</a>
                <a href="#" class="editFault">Edit Open Fault</a>
                <a href="#" class="closeFault">Close Fault</a>
            </div>
        </div>



    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #880000; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 25px; margin-bottom: 1em; }
    h3 { font-size: 20px; }
    h4 { font-size: 15px; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: white; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

    .admin {
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        background-color:#a73f2d;
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
    }
    .admin:hover {
        background-color:#b34332;
    }
    .admin:active {
        position:relative;
        top:1px;
    }

    .logFault {
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        background-color:#a73f2d;
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
    }
    .logFault:hover {
        background-color:#b34332;
    }
    .logFault:active {
        position:relative;
        top:1px;
    }

    .editFault {
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        background-color:#a73f2d;
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
    }
    .editFault:hover {
        background-color:#b34332;
    }
    .editFault:active {
        position:relative;
        top:1px;
    }

    .closeFault {
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        background-color:#a73f2d;
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
    }
    .closeFault:hover {
        background-color:#b34332;
    }
    .closeFault:active {
        position:relative;
        top:1px;
    }





</style>
{% endblock %}
