{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/index.css') }}"
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="Catwalk">
                <h1><span>Dev Challenge 2016</span> </h1>
                    <h2>Catwalk PHP Conversion Project</h2>
            </div>

            <div id="about">
                <p>
                    <h3>Catwalk was originally designed in C# for CCTV Maintenance</h3>
            </div>

            <div id="description">
                <h4>
                    It's main goal was to log, track and manage faults of CCTV cameras on site. However, it was
                    designed in C# and it had its limitations. It used SQLCe and could only run on Windows systems for
                    example so the aim is to convert it to PHP and have it communicate with a MySQL database.
                </h4>
                <a href="http://localhost:8000/login" class="admin">Administration Panel</a>
                <a href="http://localhost:8000/new_fault" class="logFault">Log New Fault</a>
                <a href="#" class="editFault">Edit Open Fault</a>
                <a href="#" class="closeFault">Close Fault</a>
                <br>
            </div>
            <div id="databaseStatus">
                <p></p>
                Database Status: Online
            </div>
        </div>

    </div>
{% endblock %}