<!DOCTYPE html>
<html>
    <title>Log New Fault</title>
        <body>
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/newfault.css') }}" />
        <div id="wrapper">
            <div id="container">
            <h1>Log new CCTV Camera Fault</h1>
            <fieldset>
                <label>Camera Number</label>
                <input class="cameraNumber" type="text" id="cameraNumber"/>
                <br>
                <label>Location</label>
                <input class="location" type="text" id="dss"/>
                <br>
                <label>DSS</label>
                <input class="dss" type="text" id="location"/>
                <br>
                <label>Description of Fault</label>
                <input class="description" type="text" id="location"/>
                <a href="#" class="logFault">Log Fault</a>
                <a href="http://localhost:8000/" class="clear">Clear Form</a>
                <a href="http://localhost:8000/" class="home">Home</a>
            </fieldset>
            </div>
        </div>
        </body>
</html>