{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/admin.css') }}" />
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="{{ path('user_registration') }}" method="post">
                <h1>Add New User</h1>
                <fieldset>
                    <div id="credentials">
                        <label class="lblUsername" for="username">Username</label>
                        <input type="text" class="username" id="username" name="_username" />
                        <label class="lblPassword" for="password">Password</label>
                        <input type="password" class="password" id="password" name="_password" /><br>
                        <label class="lblEmail" for="email">Email</label>
                        <input type="text" class="email" id="email" name="_email" /><br>
                        <label class="lblName" for="firstName">First Name</label>
                        <input type="text" class="name" id="firstName" name="_name" /><br>
                        <label class="lblSurname" for="lastName">Last Name</label>
                        <input type="text" class="surname" id="lastName" name="_surname" /><br>
                        <label class="lblAdmin" for="isAdmin">Admin User</label>
                        <input type="checkbox" class="admin" id="admin" name="_admin" /><br>
                        <button class="createUser" type="submit">Add User</button>
                        <button class="clearForm" type="button">Clear Fields</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}