body {
    background-image: url("http://mynetspace.co.za/resources/background.jpg");
    background-size: cover; }

#wrapper {
    background: #D4D4D4;
    margin: 9em auto;
    width: 500px;
    height: 400px;
    padding: 5px;
    border-radius: 20px}
#container { padding: 25px; }

fieldset { border: double;
    border-color: orange;
    height: 200px;
    padding-top: 20px;
    border-radius: 20px }
/*
label headers
*/
h1 { font-size: 26px;
    text-align: center;
    font-family: "Verdana";
    font-style: italic;
    color: #CC7832 }
h2 {

}
label {
    font-size: 15px;
    padding: 0px;
    font-family: "Verdana";
    color: #CC7832;
    font-style: italic;
    font-weight: bold
}

/*
* text box classes
*/
.cameraNumber {
    position: relative;
    width: 200px;
    left: 40px;
    text-align: center;
    text-transform: uppercase;
}
.dss {
    position: relative;
    width: 200px;
    left: 141px;
    text-align: center;
    text-transform: uppercase;
}
.location {
    position: relative;
    width: 200px;
    left: 105px;
    text-align: center;
    text-transform: uppercase;
}
.description {
    position: relative;
    width: 200px;
    left: 10px;
    text-align: center;
    text-transform: uppercase;
}

/*
* Buttons
*/
.logFault {
    -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background-color:#a73f2d;
    border:1px solid #241d13;
    border-radius: inherit;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
    position: relative;
    top: 28px;
}
.logFault:hover {
    background-color:#b34332;
}
.logFault:active {
    position:relative;
    top:29px;
}

.clear {
    -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background-color:#a73f2d;
    border:1px solid #241d13;
    border-radius: inherit;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
    position: relative;
    top: 28px;
}
.clear:hover {
    background-color:#b34332;
}
.clear:active {
    position:relative;
    top:29px;
}

.home {
    -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background-color:#a73f2d;
    border:1px solid #241d13;
    border-radius: inherit;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;
    position: relative;
    top: 28px;
}
.home:hover {
    background-color:#b34332;
}
.home:active {
    position:relative;
    top:29px;
}