{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="{{ path('login') }}" method="post">
                <h1>Login Required</h1>
                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    <label for="password">Password</label>
                    <input type="password" id="password" name="_password" />
                    {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                    #}
                    <button class="login" type="submit">Login</button>
                    <button class="forgotPassword" type="button">Forgot Password</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

<style>
    body { background: #880000; font: 18px/1.5 sans-serif; }
    #wrapper {
        background: #D4D4D4;
        margin: 8em auto;
        width: 350px;
        height: 350px;
        padding: 0px }
    #container {
        padding: 1em }
    legend { font-size: 20px}
    fieldset { border: double; border-color: #910b8e; height: 170px }
    label {font-size: 18px; padding: 10px; font-family: "Times New Roman"; font-style: italic; font-weight: bold;
    color: #916319;}
    h1 { font-size: 30px; text-align: center; font-family: "Times New Roman"; font-style: italic; color: #CC7832 }
    h2 { font-size: 18px; text-align: left; }

    .username {
        position: relative;
        top: 00px;
        left: 2px;
        width: 150px;
        text-align: center;
    }

    .password {
        position: relative;
        top: 0px;
        left: 6px;
        width: 150px;
        text-align: center;
    }

    .login {
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        background-color:#a73f2d;
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
        position: relative;
        top: 30px;
    }
    .login:hover {
        background-color:#b34332;
    }
    .login:active {
        position:relative;
        top:29px;
    }


    .forgotPassword {
        -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
        box-shadow:inset 0px 34px 0px -15px #b54b3a;
        background-color:#a73f2d;
        border:1px solid #241d13;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
        position: relative;
        top: 30px;
    }
    .forgotPassword:hover {
        background-color:#b34332;
    }
    .forgotPassword:active {
        position: relative;
        top:29px;
    }


</style>