{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/login.css') }}" />
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div id="wrapper">
        <div id="container">
            <form action="{{ path('login') }}" method="post">
                <h1>User Login Required</h1>
                <fieldset>
                    <div id="credentials">
                    <label class="lblUsername" for="username">Username</label>
                    <input type="text" class="username" id="username" name="_username" value="{{ last_username }}" />
                    <label class="lblPassword" for="password">Password</label>
                    <input type="password" class="password" id="password" name="_password" />
                    </div>
                    <button class="login" type="submit">Login</button>
                    <button class="forgotPassword" type="button">Forgot Password</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}